@font-face {
    font-family: Windsol;
    src: url(./resources/fonts/Windsol-Regular.ttf);
}

:root {
    font-size: 2vh;
    background-color: rgb(44, 44, 44);
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

li {
    list-style-type: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.bold {
    font-weight: 1000;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin: 3vh 5vw;
}

.project:hover {
    cursor: pointer;
}

.main {
    background-color: rgb(255, 255, 255);
    width: max(50vw, 900px);
    color: black;
    margin-top: 3vh;
    padding: 2vh 1vw;
    padding-bottom: 4vh;
    padding-left: 3vw;
    border-radius: 20px;

    -webkit-box-shadow: -3px 1px 12px -1px #000000; 
    box-shadow: -3px 1px 12px -1px #000000;
}

#itemButton {
    background-color: transparent;
    background-image: url("./resources/imgs/plus.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-style: none;
    margin-left: 1vw;
    height: 2rem;
    width: 2rem;
}

#itemButton:hover {
    border-style: dashed;
}

.selectedProject {
    padding: 0;
    margin: 0;
}

.list {
    padding: 0;
    padding-right: 7vw;
}

.list li {
    -webkit-box-shadow: -6px 8px 12px -5px rgba(0,0,0,0.71); 
    box-shadow: -6px 8px 12px -5px rgba(0,0,0,0.71);
    border-style: solid;
    color: black;
    font-family: Windsol, Helvetica, Arial, sans-serif;
    font-size: 1.3rem;

    border-radius: 10px;
    padding: 2vh 1vw;
    padding-top: 0;
    margin-bottom: 2vh;

    display: grid;
    /* grid-template: 1fr 0.1fr / 3fr 2fr 0.5fr; */
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-columns: 3fr 2fr 0.5fr;
}

.list li:hover {
    -webkit-box-shadow: -6px 8px 12px -5px #000000; 
    box-shadow: -6px 8px 12px -5px #000000;
}

.high {
    border-color: rgba(190, 1, 1, 0.52);
    border-width: 5px;
}

.medium {
    border-color: rgba(255, 213, 0, 0.52);
    border-width: 5px;
}

.keyInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2vh;
}

.dueDate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete input {
    height: 4vh;
    padding: 0.2rem;
}

.delete input:hover {
    border-style: dashed;
}

.dropdownDesc {
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 1rem;
}

.sidebar {
    padding: 0;
    margin: 0;
}

.sidebar h1 {
    font-size: 2rem;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    
    border-radius: 10px;
    font-family: Windsol, Helvetica, Arial, sans-serif;
    font-size: 3vh;
    background-color: white;
    color: black;
    height: 3vh;
    width: max(200px, 12vw);

    margin-right: 5vw;
    margin-bottom: 1vh;
    padding: 1vh 0.9vw 1vh 3vw;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}

.project input {
    height: 2.8vh;
    padding: 0.1rem;
}

#projectButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    margin-top: 0.5rem;
    padding: 0.5vh 2.5vw;
    border-color: transparent;
}

#projectButton:hover {
    border-color: rgba(0, 149, 255, 0.506);
}

.plus {
    height: 20px;
}

#newProject form, #newItem form {
    display: flex;
    flex-direction: column;

    gap: 2vh;
    padding: 3rem;
}